# <center><font face="arial" size="5" color=#0101DF>NUMERIQUE ET SCIENCES INFORMATIQUES Terminale NSI</font></center>

## <font color=#013ADF>Séquence N° 6 : Bases de données - Structured Query Language (SQL) 2ème partie</font>

<div class="alert alert-danger" role="alert">
    
Les objectifs de cette séquence sont :

- Identifier les concepts définissant le modèle relationnel ;
- Savoir distinguer la structure d'une base de données de son contenu ;
- Repérer des anomalies dans le schéma d'une base de données ;
- Identifier les services rendus par un système de gestion de bases de données relationnelles : persistance des données, gestion des accès concurrrents, efficacité de traitemenet des requêtes, sécurisation des accès ;
- Identifier les composants d'une requête ;
- Construire des requêtes d'interrogation à l'aide des clauses du langage SQL : SELECT, FROM, WHERE, JOIN ;
- Construire des requêtes d'insertion et de mise à jour à l'aide de : UPDATE, INSERT, DELETE.


</div>

### 5- Un autre exemple avec python

<div class="alert alert-success">

Voici le modèle Entité/Association de la nouvelle base de données que l'on souhaite. Il s'agit de répertorier les élèves dans les groupes de spécialités et d'y associer un enseignant.
    
<img src="Images/Specialites.svg" alt="ville_db" width=60% align=center>   
    
Pour s'adapter aux classes de premières et terminales, 3 spécialités sont disponibles pour l'élève. Les enseignants ne peuvent intervenir que dans 2 spécialités au maximum.
    
    
<div>

<div class="alert alert-success">

Voici le modèle relationnel de la nouvelle base de données que l'on souhaite. Il s'agit de répertorier les élèves dans les groupes de spécialités et d'y associer un enseignant.
    
<img src="Images/Specialites.png" alt="specialites_db" width=80% align=center>   
    
**Pour information** : Pour passer du modèle Entité/Association au modèle relationnel, il y a 3 règles :
    
*Règle 1 : entité*

*– Chaque entité donne une table.*

*Règle 2 : association de type 1-n ou 1-1*

*– L'identifiant de l'entité côté n est ajoutée du côté 1 où elle devient clé étrangère.*

*Règle 3 : association de type n-n*

*– Création d'une nouvelle table dont la clé primaire est l'ensemble des identifiants des entités concernées.*
    
    
<div>

<div class="alert alert-success">
    
Le script ci-dessous crée :
- Une base de données "specialites.db" ;
- Les tables "eleves", "groupes", "enseignants" et "forme";

Puis
    
- Valide les modifications avec un "commit" ;
- Cloture la connection avec la base de donnée.

On reconnaîtra les requêtes SQL.
    
Tout ce travail sera réalisé grâce à un objet "cursor".
<br><br>

*Remarque : pour éviter les messages d'erreur si vous executez 2 fois le script ci-dessous, j'ai prévu de supprimer les tables. donc évidemment le 'IF NOT EXISTS' est superflu.*
<div>

In [ ]:
import sqlite3
connexion = sqlite3.connect('specialites.db') # connection ,création si non existe
curseur=connexion.cursor() # création d'un objet pour réaliser des requêtes

curseur.executescript(
    
        """

        DROP TABLE IF EXISTS enseignants;
        
        CREATE TABLE IF NOT EXISTS enseignants
        (
        id_ens INTEGER PRIMARY KEY,
        nom_ens TEXT NOT NULL,
        prenom_ens TEXT,
        sp1_ens TEXT NOT NULL,
        sp2_ens TEXT NOT NULL
        );
        
        DROP TABLE IF EXISTS eleves;
        
        CREATE TABLE IF NOT EXISTS eleves
        (
        id_eleve INTEGER PRIMARY KEY,
        nom_el TEXT NOT NULL,
        prenom_el TEXT,
        classe INTEGER NOT NULL,
        sp1 TEXT NOT NULL,
        sp2 TEXT NOT NULL,
        sp3 TEXT
        );
        
        DROP TABLE IF EXISTS groupes;
        
        CREATE TABLE IF NOT EXISTS groupes
        (
        id_groupe INTEGER PRIMARY KEY,
        nom_groupe TEXT NOT NULL,
        nom_salle TEXT ,
        id_enseignant INTEGER,
        FOREIGN KEY (id_enseignant) REFERENCES enseignants(id_ens)
        );
                
        DROP TABLE IF EXISTS forme;
        
        CREATE TABLE IF NOT EXISTS forme
        (
        id_eleve INTEGER,
        id_groupe INTEGER,
        FOREIGN KEY (id_eleve) REFERENCES eleves(id_eleve),
        FOREIGN KEY (id_groupe) REFERENCES eleves(id_groupes)
        );
        
        """
        )


connexion.commit() # valide les modifications

connexion.close() # déconnexion

<div class="alert alert-success">
    
Le script ci-dessous remplit les tables de quelques valeurs.
    
*Remarque : pour éviter les messages d'erreur si vous executez 2 fois le script ci-dessous, il faut ré-exécuter le script ci-dessus, c'est à dire supprimer les tables et les reconstruire.*
   
<div>

In [ ]:
import sqlite3
connexion = sqlite3.connect('specialites.db') # connection ,création si non existe
curseur=connexion.cursor() # création d'un objet pour réaliser des requêtes

                      
# À partir d'un script pour plusieurs requêtes
# finir la ligne de commande par un ;
curseur.executescript("""       
        INSERT INTO enseignants(id_ens,nom_ens,prenom_ens,sp1_ens,sp2_ens) VALUES (1,'DURANT','Pierre','SES','NSI');
        INSERT INTO enseignants(id_ens,nom_ens,prenom_ens,sp1_ens,sp2_ens) VALUES (2,'DUPOND','Thierry','SES','SI');
        INSERT INTO enseignants(id_ens,nom_ens,prenom_ens,sp1_ens,sp2_ens) VALUES (3,'NOAES','Gisèle','SI','Math');
        INSERT INTO enseignants(id_ens,nom_ens,prenom_ens,sp1_ens,sp2_ens) VALUES (4,'EXCES','Carole','Hist-Geo','Arts');
        INSERT INTO enseignants(id_ens,nom_ens,prenom_ens,sp1_ens,sp2_ens) VALUES (5,'STEFAN','Stéphane','Arts','LLCE')

        """)

curseur.executescript("""
        INSERT INTO eLeves(id_eleve,nom_el,prenom_el,classe,sp1,sp2,sp3) VALUES (1,'GOILLON','Jérôme',658,'Arts','Math','');
        INSERT INTO eleves(id_eleve,nom_el,prenom_el,classe,sp1,sp2,sp3) VALUES (2,'HELIES','Alice',654,'SI','NSI','');
         INSERT INTO eLeves(id_eleve,nom_el,prenom_el,classe,sp1,sp2,sp3) VALUES (3,'ELAN','Jérôme',658,'Math','NSI','');
        INSERT INTO eleves(id_eleve,nom_el,prenom_el,classe,sp1,sp2,sp3) VALUES (4,'GARILLO','isidore',654,'SI','NSI','');
         INSERT INTO eLeves(id_eleve,nom_el,prenom_el,classe,sp1,sp2,sp3) VALUES (5,'FINUSSON','Oscar',658,'Math','NSI','');
        INSERT INTO eleves(id_eleve,nom_el,prenom_el,classe,sp1,sp2,sp3) VALUES (6,'DROPLIT','Gisèle',654,'SI','Arts','');
         INSERT INTO eLeves(id_eleve,nom_el,prenom_el,classe,sp1,sp2,sp3) VALUES (7,'CHICAGO','Thierry',658,'Math','NSI','');
        INSERT INTO eleves(id_eleve,nom_el,prenom_el,classe,sp1,sp2,sp3) VALUES (8,'DISRUT','Nora',654,'Hist-Geo','Math','');
        INSERT INTO eleves(id_eleve,nom_el,prenom_el,classe,sp1,sp2,sp3) VALUES (9,'NOUILLE','Gilles',659,'SES','Hist-Geo','')
        """)

# exécution de plusieurs requêtes d'insertion : méthode 1
# liste de tuples
definir_groupe1=[(1,'NSI','K203',1),(2,'Math','I202',3),(3,'SI','K003',2)]
for donnee in definir_groupe1:
    curseur.execute("INSERT INTO groupes (id_groupe,nom_groupe,nom_salle,id_enseignant) VALUES (?,?,?,?)", donnee)

# la méthode executemany se passera de la boucle
definir_groupe2=[(4,'SES','M301',1),(5,'Hist-Geo','M202',4),(6,'Arts','G003',5)]
curseur.executemany("INSERT INTO groupes (id_groupe,nom_groupe,nom_salle,id_enseignant) VALUES (?,?,?,?)", definir_groupe2)

# À partir d'un tuple de dictionnaires
forme_groupe =({'id_el':1,'id_gr':6},
                {'id_el':1,'id_gr':2},
                {'id_el':2,'id_gr':3},
                {'id_el':2,'id_gr':1},
                {'id_el':3,'id_gr':2},
                {'id_el':3,'id_gr':1},
                {'id_el':4,'id_gr':3},
                {'id_el':4,'id_gr':1},
                {'id_el':5,'id_gr':2},
                {'id_el':5,'id_gr':1},
                {'id_el':6,'id_gr':3},
                {'id_el':6,'id_gr':6},
                {'id_el':7,'id_gr':2},
                {'id_el':7,'id_gr':1},
                {'id_el':8,'id_gr':5},
                {'id_el':8,'id_gr':2},
                {'id_el':9,'id_gr':4},
                {'id_el':9,'id_gr':5})
curseur.executemany("INSERT INTO forme (id_eleve,id_groupe) VALUES (:id_el,:id_gr)", forme_groupe )


connexion.commit() # valide les modifications

connexion.close() # déconnexion

<div class="alert alert-success">

Formuler des requêtes pour interroger la base de données.
<div>

In [ ]:
import sqlite3
connexion = sqlite3.connect('specialites.db') # connection ,création si non existe
curseur=connexion.cursor() # création d'un objet pour réaliser des requêtes

requete = "SELECT * FROM eleves;"
curseur.execute(requete)
resultats = curseur.fetchall()
print(resultats)

connexion.commit() # valide les modifications
connexion.close() # déconnexion

<div class="alert alert-success">

Création d'une fonction
<div>

In [ ]:
def specialites(curs, id):
    requete = "SELECT sp1, sp2 FROM eleves WHERE id_eleve = ?" # ? : variable à insérer
    curs.execute(requete, [id]) # [] liste des valeurs à substituer dans la requête
    resultats = curs.fetchall()
    if len(resultats) == 0:
        return f'Cet élève n\'existe pas'
    return resultats[0][0],resultats[0][1]

In [ ]:
import sqlite3
connexion = sqlite3.connect('specialites.db') # connection ,création si non existe
curseur=connexion.cursor() # création d'un objet pour réaliser des requêtes

id=1 # id de l'élève
print(specialites(curseur, id))

connexion.close() # déconnexion

<div class="alert alert-warning">
<img src="Images/CR.png" alt="logo CR" width=5% align=right>

Avant d'aller plus loin, formulons quelques requêtes que nous ne pouvions pas faire sur la base de données précédente.
    
- Formuler une requête qui me fournisse la liste des élèves (nom,prénom, classe et leurs spécialités) ;
- Formuler une requête qui me fournisse la liste des élèves (nom,prénom, classe) ainsi que le nom du groupe et la classe pour groupe spécifié ;
- Formuler une requête qui me fournisse la liste des groupes, la salle où se pratique la spécialité, le nom et le prénom de l'enseignant associé ;
- Formuler une requête qui me fournisse la liste des élèves ayant pour spécialité 'NSI' et le nom de leur professeur.
    
<div>

In [ ]:
%load_ext sql

In [ ]:
%%sql sqlite:///specialites.db

SELECT * FROM eleves;

In [ ]:
%%sql sqlite:///specialites.db

SELECT nom_el, prenom_el, classe, nom_groupe, nom_salle  FROM eleves JOIN forme USING (id_eleve) JOIN groupes USING(id_groupe) where nom_groupe='NSI';

In [ ]:
%%sql sqlite:///specialites.db

SELECT nom_groupe, nom_salle, nom_ens, prenom_ens FROM groupes JOIN enseignants ON id_enseignant=id_ens;

In [ ]:
%%sql sqlite:///specialites.db

SELECT nom_el, prenom_el, nom_ens, prenom_ens FROM eleves JOIN forme USING (id_eleve) JOIN groupes USING (id_groupe) JOIN enseignants ON id_enseignant=id_ens WHERE (sp1='NSI' OR sp2='NSI') AND nom_groupe='NSI' ;

### 6- Récupération de données en Open Data

<div class="alert alert-success">

La saisie de données reste le point laborieux. Il existe sur Internet des jeux de données disponibles mise à la disposition de tous. C'est l'Opendata.
    
L'année dernière, lors de la séquence "Données en table", nous avons abordé ces notions et également le format de fichiers nommmé "CSV".
    
Nous allons ici utiliser des données issues de la métropole brestoise au format CSV. Grâce à une fonction qui va lire ce fichier, nous allons peupler une base de données. Nous pourrons ainsi manipuler une quantité de données importante plus significative d'une base réelle.
    
Quelques sites : 

https://www.data.gouv.fr/fr/organizations/brest-metropole-oceane/

https://opendata.finistere.fr/explore/?sort=modified

https://www.data.gouv.fr/fr/
<div>

<div class="alert alert-warning">
<img src="Images/CR.png" alt="logo CR" width=5% align=right>

- En suivant le premier ce lien : https://www.data.gouv.fr/fr/organizations/brest-metropole-oceane/, télécharger la liste des arrêts et horaires des bus et tramways ;
- Décompresser le fichier, vous y trouverez le fichier 'stops.txt' qui est au format CSV ;
- En reprenant vos documents de l'année dernière, créer une fonction qui lit ce fichier ;
- En s'inspirant des exemples en python fournis plus haut, créer une base de donnees 'transports.db' et une table 'arrets' ;
- Créer une fonction qui alimente la table 'arret' avec les données du fichier 'stops.txt';
- Créer une fonction qui renvoie les coordonnées GPS de l'arrêt lors que l'on lui passe en argument, le nom de l'arrêt.
- Créer une fonction qui renvoie le nombre d'arrêts avec accès pour fauteuil roulant.
<div>

In [ ]:
import csv
import sqlite3

def create_table(conn,curs):
    curs.executescript(
    """
    DROP TABLE IF EXISTS arrets;
    
    CREATE TABLE IF NOT EXISTS arrets (
    stop_id TEXT PRIMARY KEY,
    stop_code TEXT,
    stop_name TEXT,
    stop_desc TEXT,
    stop_lat TEXT,
    stop_long TEXT,
    zone_id TEXT,
    stop_url TEXT,
    location_type TEXT,
    parent_station TEXT,
    wheelchair_boarding TEXT
    );
    """
    )
    conn.commit() # valide les modifications
    
def lecture_fichier(fichier) :
    """
    La fonction lit le fichier csv et calcule le nombre d'inscrits
    Entrée : fichier csv
    Sortie : nombre de suffrages exprimés de type entier
    """
    with open(fichier) as csv_file:
        liste= list(csv.reader(csv_file, delimiter=',')) # Récupération d'une liste de liste
        liste.pop(0)
    return liste

def peuple_table(conn,curs, enregistrements):
    for enregistrement in enregistrements:
        requete = "INSERT INTO arrets (stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_long,zone_id,stop_url,location_type,parent_station,wheelchair_boarding) VALUES(?,?,?,?,?,?,?,?,?,?,?)"
        curs.execute(requete, enregistrement) # liste des valeurs à substituer dans la requête
        conn.commit() # valide les modifications

def coordonnees_gps(conn, curs,nom):
    requete = "SELECT stop_lat, stop_long FROM arrets WHERE stop_name = ?" # ? : variable à insérer
    curs.execute(requete, [nom]) # [] liste des valeurs à substituer dans la requête
    resultats = curs.fetchall()
    return f'Les coordonnées GPS de l\'arrêt {nom} sont : {resultats[0][0]} et {resultats[0][1]}'

def nb_fauteuils(conn,curs):
    requete = "SELECT COUNT(*) FROM arrets WHERE wheelchair_boarding = 1"
    curs.execute(requete)
    nombre = curs.fetchone()
    return f'Le nombre d\'arrêt permettant l\'accès à un fauteuil roulant est {nombre[0]}'

connexion = sqlite3.connect('transports.db') # connection ,création si non existe
curseur=connexion.cursor() # création d'un objet pour réaliser des requêtes

create_table(connexion, curseur)
liste=lecture_fichier('stops.txt')
peuple_table(connexion,curseur,liste)
station='Liberté Multiplexe'
print(coordonnees_gps(connexion, curseur, station))
print(nb_fauteuils(connexion,curseur))

connexion.close() # déconnexion